<div class="col-md-2" style="background-color: #A9BCF5;"><!--#A9BCF5-->
	<div ng-repeat="category in main_business_categories">
		<input type="checkbox" ng-click="func()"/>{{category}}
	</div>
</div>
<div class="col-md-2" style="background-color: #2ECCFA;"><!--#2ECCFA-->
	<p>column2</p>
</div>
<div class="col-md-2" style="background-color: #81F7F3;"><!--#81F7F3-->
	<p>third</p>
</div>
<div class="col-md-6">
	<div ng-repeat="entry in entries">
		{{entry}}
	</div>
</div>
<div style="clear:both"></div>