<div class="col-md-2 col-sm-2 col-xs-3 col-lg-2 left-columns" style="background-color: #A9BCF5;"><!--#A9BCF5-->
	<div ng-repeat="(main_category, sub_category) in main_business_categories">
		<input type="checkbox" ng-click="col1func(main_category)"/>{{main_category}}
	</div>
</div>
<div class="col-md-2 col-sm-2 col-xs-3 col-lg-2 left-columns" style="background-color: #2ECCFA;"><!--#2ECCFA-->
	<div ng-repeat="sub_category in sub_business_categories">
		<input type="checkbox" ng-click="col2func(sub_category)"/>{{sub_category}}
	</div>
</div>
<div class="col-md-2 col-sm-2 col-xs-3 col-lg-2 left-columns" style="background-color: #81F7F3;"><!--#81F7F3-->
	<div ng-repeat="attr in attrs">
		<input type="checkbox" ng-click="col3func(attr.attr_key)"/>{{attr.attr_key}}
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-9 col-lg-6 right-column">
		<div class="col-md-6 col-sm-6 col-xs-9 col-lg-6"><strong>Business</strong></div>
		<div class="col-md-3 col-sm-3 col-xs-5 col-lg-3"><strong>City</strong></div>
		<div class="col-md-3 col-sm-3 col-xs-4 col-lg-3"><strong>State</strong></div>
	<div ng-repeat="business in businesses">
		<div class="col-md-6 col-sm-6 col-xs-9 col-lg-6 business-possible-overflow">
			<a ng-href="/business/{{business.business_id}}">{{business.name}}</a>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-5 col-lg-3">
			{{business.city}}
		</div>
		<div class="col-md-3 col-sm-3 col-xs-4 col-lg-3">
			{{business.state}}
		</div>
	</div>
</div>
<div class="col-md-2 col-sm-2 col-xs-4 col-lg-2">
	<p>Day of the week:</p>
	<select ng-model="day_of_the_week">
		<option value=""></option>
		<option value="Monday">Monday</option>
		<option value="Tuesday">Tuesday</option>
		<option value="Wednesday">Wednesday</option>
		<option value="Thursday">Thursday</option>
		<option value="Friday">Friday</option>
		<option value="Saturday">Saturday</option>
		<option value="Sunday">Sunday</option>
		<option value="Weekend">Weekend</option>
		<option value="Weekday">Weekday</option>
		<option value="All Days">All Days</option>
	</select>
</div>

<div class="col-md-1 col-sm-1 col-xs-2 col-lg-1">
	<p>From:</p>
	<select ng-model="open">
		<option value=""></option>
		<option value="1:00">1:00AM</option>
		<option value="2:00">2:00AM</option>
		<option value="3:00">3:00AM</option>
		<option value="4:00">4:00AM</option>
		<option value="5:00">5:00AM</option>
		<option value="6:00">6:00AM</option>
		<option value="7:00">7:00AM</option>
		<option value="8:00">8:00AM</option>
		<option value="9:00">9:00AM</option>
		<option value="10:00">10:00AM</option>
		<option value="11:00">11:00AM</option>
		<option value="12:00">Noon</option>
		<option value="13:00">1:00PM</option>
		<option value="14:00">2:00PM</option>
		<option value="15:00">3:00PM</option>
		<option value="16:00">4:00PM</option>
		<option value="17:00">5:00PM</option>
		<option value="18:00">6:00PM</option>
		<option value="19:00">7:00PM</option>
		<option value="20:00">8:00PM</option>
		<option value="21:00">9:00PM</option>
		<option value="22:00">10:00PM</option>
		<option value="23:00">11:00PM</option>
		<option value="24:00">Midnight</option>
	</select>
</div>

<div class="col-md-1 col-sm-1 col-xs-2 col-lg-1">
	<p>To:</p>
	<select ng-model="close">
		<option value=""></option>
		<option value="1:00">1:00AM</option>
		<option value="2:00">2:00AM</option>
		<option value="3:00">3:00AM</option>
		<option value="4:00">4:00AM</option>
		<option value="5:00">5:00AM</option>
		<option value="6:00">6:00AM</option>
		<option value="7:00">7:00AM</option>
		<option value="8:00">8:00AM</option>
		<option value="9:00">9:00AM</option>
		<option value="10:00">10:00AM</option>
		<option value="11:00">11:00AM</option>
		<option value="12:00">Noon</option>
		<option value="13:00">1:00PM</option>
		<option value="14:00">2:00PM</option>
		<option value="15:00">3:00PM</option>
		<option value="16:00">4:00PM</option>
		<option value="17:00">5:00PM</option>
		<option value="18:00">6:00PM</option>
		<option value="19:00">7:00PM</option>
		<option value="20:00">8:00PM</option>
		<option value="21:00">9:00PM</option>
		<option value="22:00">10:00PM</option>
		<option value="23:00">11:00PM</option>
		<option value="24:00">Midnight</option>
	</select>
</div>

<div class="col-md-6 col-sm-6 col-xs-7 col-lg-6">
	<p>Search for:</p>
	<select ng-model="search_for">
		<option value=""></option>
		<option value="all_attributes" selected>All attributes</option>
	</select>
</div>

<div class="col-md-2 col-sm-2 col-xs-3 col-lg-2">
	<button type="button" class="btn btn-default home-submit" ng-click="col3func('')">Search</button>
</div>

<div style="clear:both"></div>