
<div class="col-md-2 col-sm-2 col-lg-2 col-xs-3">
	<strong>Review Date</strong>
</div>
<div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
	<strong>Stars</strong>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-xs-9">
	<strong>Review Text</strong>
</div>
<div class="col-md-2 col-sm-2 col-lg-2 col-xs-3">
	<strong>User ID</strong>
</div>
<div class="col-md-1 col-sm-1 col-lg-1 col-xs-2">
	<strong>Useful Votes</strong>
</div>
<div ng-repeat="review in reviews">
	
	<div class="col-md-2 col-sm-2 col-lg-2 col-xs-3 business-possible-overflow">
		{{review.review_date}}
	</div>
	<div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 business-possible-overflow">
		{{review.stars}}
	</div>
	<div class="col-md-6 col-sm-6 col-lg-6 col-xs-9 business-possible-overflow">
		{{review.review_text}}
	</div>
	<div class="col-md-2 col-sm-2 col-lg-2 col-xs-3 business-possible-overflow">
		{{review.name}}
	</div>
	<div class="col-md-1 col-sm-1 col-lg-1 col-xs-2 business-possible-overflow">
		{{review.votes_useful}}
	</div>

</div>

<div style="clear:both"></div>