.navbar-fixed-bottom {
	height: 142px;
	background-color: #BCF5A9;
	position: fixed;
}

.jumbotron {
	background-color: #81BEF7;
	height: 200px;
}

.mwl {
	line-height: 480%;
	font-size: 250%;
}

.navbar {
	margin-bottom:0;
	margin-top:30px;
}

.container-fluid {
	padding:0;
}

.left-columns {
	overflow: scroll;
	height: 650px;
}

.right-column {
	overflow: scroll;
	height: 650px;
}

.business-possible-overflow {
	text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.home-submit {
	position: relative;
  top: 20px;	
}